<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- <html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  th:fragment="page"> -->
  
  <body>
    <header>
      <div th:replace="header :: header">static header</div>
    </header>
    
    <div layout:fragment="content">
<!-- <div th:include="this :: content"> -->
      <p>Page content goes here</p>
    </div>
    
    <footer>
          <div th:replace="footer :: footer">&copy; 2014 The Static footer</div>	  
    </footer>  
    
  </body>
</html>